<div class="images-background">
	<img @for="let photo of album" [src]="'assets/img/photos/' + photo.number + '.jpg'" alt=""/>
</div>
<div class="first-page">
	<div class="page-content">
		<div class="container">
			<div class="up-title">
				Jéssica <span>&</span> Alex
			</div>

			<div class="up-note">
				<p>Como deseja nos Presentear?</p>
			</div>

			<div class="drop-down">
				<div (click)="toggleCategoryShow()">
					<span [class]="{ 'selected': dropDownCategory.selected }">
						{{dropDownCategory.selected ? dropDownCategory.selected.title : '🙂 Escolha uma Categoria'}}
					</span>
				</div>
				<ul @if="dropDownCategory.show">
					<li @for="item of dropDownCategory.items" (click)="selectCategoryItem(item)"
						[class]="{ 'selected': dropDownCategory.selected === item }">
						{{item.title}}
					</li>
				</ul>
			</div>

			<br />

			<div @if="showValue">
				<div class="range-value">
					<button (click)="decrease()">-</button>
					<div class="line-bar">
						<div [style]="{ 'width': (rangeValue.currentValue/rangeValue.match + '%') }">
							<p>{{ Currency.format(rangeValue.currentValue) }}</p>
						</div>
						<div [style]="{ 'width': 100 - (rangeValue.currentValue/rangeValue.match) + '%' }">
						</div>
					</div>
					<button (click)="increase()">+</button>
				</div>

				<br />

				<button (click)="openQrCode()">Presentear</button>
			</div>
		</div>
	</div>
</div>